*{
    margin: 0;
}
body{
    background-color: #F8F1F1;
}
.nav{
    background-color:#025464;
    color: white;
    width: 100%;
    height: 8vh;
}
.title{
    margin-right: 75vw;
    font-size: 2rem !important;
}
.items{
    list-style: none;
}

.item{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

h2{
    text-align: center;
    margin-bottom: 2rem;
}
.Home{
    margin-left: 25vw;
}

.card{
    float: left;
    background-color: #E8AA42;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid;
    border-radius: 5px;
    width: 20vw;
    height: 30vh;
}

.days{
    width: 100vw;
    margin-top: 5%;
    float: left;
}
.day{
    padding-left: 0;
    background-color: #E8AA42;
    border: 2px solid;
    margin-left: 3%;
    display: inline-block;
    height: 30vh;
    width: 10vw;
}