<div class="container">
    <div class="mb-3">
        <label class="form-label text-primary">
            Create a Todo
        </label>
        <input class="form-control" type="text" />
    </div>
    <div class="mb-3">
        <input class="form-control" type="datetime-local" />
    </div>
    <div class="mb-3">
        <button class="btn btn-primary col-2">Create</button>
    </div>
</div>
