@model List<Todo>

<div class="container">
    <div class="row">
        <h3 class="col-4">Welcome to your Todos</h3>
        <a class="col-4 btn btn-primary" asp-controller="Todo" asp-action="Create">create a new Todo</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Todo Id</th>
                <th>Todo description</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var todo in Model)
            {
                <tr>
                    <td>@todo.id</td>
                    <td>@todo.description</td>
                    <td> <a class="btn btn-info" asp-route-id="@todo.id" asp-controller="Todo" asp-action="Edit"> Edit </a></td>
                    <td> <a class="btn btn-danger" asp-route-id="@todo.id" asp-controller="Todo" asp-action="Delete"> Delete </a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
