<div class="container">
    <div class="row">
        <h3 class="col-4">Welcome to your Todos</h3>
        <a class="col-4 btn btn-primary" asp-controller="Todo" asp-action="Create">create a new Todo</a>
    </div>
</div>
